# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Picker.iml
# Datasource local storage ignored files
/../../../../../../../:\UnityGames\Picker\Picker\.idea\.idea.Picker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
