# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.PickerTemmp.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\UnityGames\PickerTemmp\.idea\.idea.PickerTemmp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
